# Ignore compiled binaries
**/*.o
**/*.out
vokey_service
vokey_manager

# Ignore compiled .ui files
source/manager/ui/**.h

# Ignore local Visual Studio Code configs
**/.vscode/**

# Ignore LMMS temporary files
**/*.mmpz.bak
