# Ignore compiled binaries
**/*.o
**/*.out
vokey_service
vokey_manager
build

# Ignore compiled .ui files
source/manager/ui/**.h

# Ignore local Visual Studio Code configs
**/.vscode/**

# Ignore JetBrains Clion configs
.idea

# Ignore JetBrains Clion cmake folders
cmake-build-debug
cmake-build-release

# Ignore LMMS temporary files
**/*.mmpz.bak
